.wo {
    width: 98vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.woo>img {
    width: 15vw;
    border-radius: 50%;
}

.wo2 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15%;
}

.wo3 {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.wo3 img {
    width: 5vw;
    vertical-align: middle;
}

.wo3 span {
    padding-top: 1%;
    padding-left: 1%;
}

.yannn {
    height: 0.5vh;
    background-color: rgba(246, 247, 249, 1);
}

.wo4 {
    margin-left: 65%;
}

.yannn1 {
    height: 2vh;
    background-color: rgba(246, 247, 249, 1);
}

.wo5 {
    padding: 4% 0 0 2%;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: bold;
}

.wo6 {
    width: 100%;
    height: 40vh;
    overflow-x: scroll;
    overflow: none;
}

.wo7 img {
    width: 37vw;
    padding-right: 5vw;
}

.wo7 {
    display: flex;
}

.wo7 div div {
    padding-top: 1%;
    text-align: center;
}

.yannn2 {
    height: 1vh;
    background-color: rgba(246, 247, 249, 1);
}

.wo10 {
    display: flex;
    align-items: center;
    height: 10vh;
}

.wo10 span {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.wo10 img {
    margin-left: 75%;
    width: 5vw;
    vertical-align: middle;
}

.yannn3 {
    height: 2vh;
    background-color: rgba(246, 247, 249, 1);
}

.wo11 {
    display: flex;
    align-items: center;
    height: 10vh;
    padding-bottom: 20%;
}

.wo11 div {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.kan{
    height: 98vh;
    width: 98vw;
    display: none;
    
}

.kan1 {
    
    display: flex;
}

.kan1 img {
    width: 5vw;
}
.kan1 div:nth-child(1) {
    flex: 1;
}
.kan1 div:nth-child(2) {
    text-align: center;
    flex: 8;
}
.kan1 div:nth-child(3) {
    flex: 2;
    text-align: right;
}
.kan2{
    padding-top: 5vh;
    width:  98vw;
    display: flex;
}
.kan3{
    width: 40%;
    padding-right: 3vw;
}
.kan4 div{
   
   height: 50%;
}
.kan4 div:nth-child(1) {
    line-height: 6vh;
}
.kan5{
    padding: 2vh 0 ;
    background-color: rgba(255, 255, 255, 1);
	text-align: center;
}
.sou {
    height: 98vh;
    width: 98vw;
    
}
.sousuo1{
    margin-left:  5vw;
    width: 70vw;
    background-color: rgba(63, 62, 62, 0.1);
    border-radius: 5vw;
    display: inline-block;
}
.sousuo1 img{
    padding-left: 3vw;
    width: 8vw;
    height: 6vh;
    vertical-align: middle;
    
}
.sousuo1 input{
    width: 50vw;
    height: 4vh;
    color: rgb(95, 95, 95);
	font-size: 14px;

}
.sousuo2{
    display: inline-block;
    margin-left: 10vw;
    color: rgba(255, 141, 26, 1);
	font-size: 14px;
	
	text-align: left;

}
.sousuo3{
    padding: 3vh 0;
    /* display: flex; */
}
.sousuo3 img{
    
    margin-left: 65vw;
    width: 5vw;
    vertical-align: middle;
}

.sousuo3 div{
   
    display: inline-block;
    margin-left: 5vw;
    vertical-align: middle;
}
.souo{
    margin-left: 3%;
}
.sousuo4{
    width: 30vw;
   padding: 3% 7%;
   margin:3% 0 5% 15% ;
    text-align: center;
    border-radius: 13%;
    background-color: rgba(63, 62, 62, 0.1);
 
}
.sousuo6 {
    padding: 7% 0 0 0 ;
    display: flex;
    /* display: inline-block; */

}
.sousuo6 div:nth-child(1) {
   margin: 0  4% 0 3%;
}
.sousuo6 div:nth-child(2) {
    width: 60vw;
 }
.sousuo6 .sousuo7{
    position: relative;
    right: -15%;
    width: 5vw;
}
.sousuo6 .sousuo7 img{
    width: 5vw;
}
.sousuo8 {
    width: 5vw;
    height: 5vw;
    color: rgba(255, 255, 255, 1);
	background-color: rgba(212, 48, 48, 1);
	border-radius: 2px;
	font-size: 12px;
	line-height: 150%;
	text-align: center;
    /* flex: 1; */
}
.sousuo9{
    width: 5vw;
    height: 5vw;
    color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 141, 26, 1);
	border-radius: 2px;
	font-size: 12px;
	line-height: 150%;
	text-align: center;

}
.sousuo100{
    width: 5vw;
    height: 5vw;
    color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 235, 59, 1);
	border-radius: 2px;
	font-size: 12px;
	line-height: 150%;
	text-align: center;

}

.sousuo10{
        width: 5vw;
        height: 5vw;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(166, 166, 166, 1);
        border-radius: 2px;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
    
}