*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 58px;
    background-color:  #191d3a;
}
.inner{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}
.logo {
    width: 225px;
    height: 50px;
    float: left;
    margin-top: 10px;
   

}
.nav li {
    list-style: none;
    float: left;
    width: 87px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border-right: 1px solid #252947;
    border-left: 1px solid #252947;
   
}
.nav ul li a{
   
    text-decoration: none;
    color: rgb(184, 183, 183);

}
.nav ul li a:hover{
    color: #fff;

}

.nav ul li a:hover{
   background: rgba(192, 189, 189, 0.2);
   /* background-color: rgb(192, 189, 189); */
   width: 87px;
   height: 58px;
   display: block;

}
.drwn > .jw{
    float: left;
    margin-top: 12px;
    margin-left: 10px;
    background-color: aqua;
    border-radius: 3px;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;

}
.zhong {
    height: 460px;
  
   
        background:  rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll center center / auto 100%;
  
}
.xia{
    width: 1000px;
    margin: 0 auto;
    
}
.xia ul li {
    width: 218px;
    height: 200px;
    background-color: blue;
    float: left;
    list-style: none;
    margin-right: 32px;
    margin-top: 50px;

}
.xia ul li:hover{
    background-color: aqua;
}
.xia ul li img{
    width: 100%;

}
.xia ul li a:hover{
    color: #fff;


}
.xia ul li a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.xia ul li a p{
    color: #38b774;
    font-size: 15px;
   margin-top: 10px;
}
.xia ul li a h4{
    margin-top: 5px;
}
.dibu{
    width: 1000px;
    height: 310px;
    
    display:table;
    margin: 0 auto;
    

}
.di{
   
    width: 500px;
    height: 310px;
    margin-top: 60px;
}
.bei{
    width: 500px;
    height: 110px;
   
  
}
.dibu .di li{
    width: 401.6px;
    height : 28.8px;
}